body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.app {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.van {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fafafa;
}



input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.calculate {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}
.calculat {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.delete {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.ikr {
    display: flex;
    justify-content: space-between;
}



 img {
    width: 100px; 
    height: 100px; 
}

.sa {
    font-size: 24px;
    color: green;
}
.s{
    font-size: 24px;
    color: red;   
}
.a{
    font-size: 24px;
    color: green;
}

#myTable {
    width: 100%;
    border-collapse: collapse;
}

th {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
    color: #333;
}
.expense{
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fafafa;
}
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}